[Unit]
Description=Publish %i as alias for %H.local via mdns


[Service]
Type=simple
ExecStart=/usr/bin/mdns-publish-cname %i

[Install]
Wants=avahi-daemon.service
WantedBy=multi-user.target

