Source: mdns-publisher
Maintainer: Jedrzej Kalisiak <jedr.ka@gmail.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python,
               dh-systemd,
               python-setuptools,
               python-all,
Standards-Version: 4.1.1

Package: mdns-publisher
Architecture: all
Depends: python-avahi, avahi-daemon, ${python:Depends}, ${misc:Depends}
Description: mDNS hostname aliases publisher
 This package installs mDNS publisher which you can use to 
 broadcast hostname aliases in local network
