[Unit]
Description=Publish %i as alias for %H.local via mdns
Wants=avahi-daemon.service

[Service]
Type=simple
ExecStart=/usr/bin/mdns-publish-cname %i

[Install]
WantedBy=multi-user.target

