#!/usr/bin/make -f
#export DH_VERBOSE=1
export PYBUILD_NAME=avahi-aliases

%:
	dh $@ --with python2 --buildsystem=pybuild --with systemd

override_dh_installsystemd:
	dh_installsystemd -p mdns-publisher mdns-publisher@.service 
